:root {
	--light-background: hsl(0, 0%, 98%);
	--light-element: hsl(0, 0%, 100%);
	--light-text: hsl(200, 15%, 8%);
	--light-input: hsl(0, 0%, 52%);
	--dark-background: hsl(207, 26%, 17%);
	--dark-element: hsl(209, 23%, 22%);
	--dark-text: hsl(0, 0%, 100%);
	--box-shadow: 0 0.5px 5px 1px rgba(0, 0, 0, 0.2);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

.light-element {
	background-color: var(--light-element);
	color: var(--light-text);
}

.dark-element {
	background-color: var(--dark-element);
	color: var(--dark-text);
}

.light-background {
	background-color: var(--light-background);
	color: var(--light-text);
}

.dark-background {
	background-color: var(--dark-background);
	color: var(--dark-text);
}
